alias ...=../..
alias .../=...
alias ....=../../..
alias .....=../../../..
alias ......=../../../../..
alias 1='cd -1'
alias 2='cd -2'
alias 3='cd -3'
alias 4='cd -4'
alias 5='cd -5'
alias 6='cd -6'
alias 7='cd -7'
alias 8='cd -8'
alias 9='cd -9'
alias l='ls -lah'
alias la='ls -lAh'
alias ll='ls -lh'
alias ls='ls --color=tty'
alias lsa='ls -lah'
alias md='mkdir -p'
alias rd=rmdir
alias venv='source .env/bin/activate'
alias which-command=whence
alias copy="xclip -selection clipboard"
alias mkcdir='f() { md $1; cd $1 }; f'

alias kdiff="kitten diff"
alias kssh="kitten ssh"
alias gf2="/usr/bin/gf2 &> /dev/null &"
alias qemu-monitor="telnet 127.0.0.1 7777"