configuration {
    modi: "drun,filebrowser,ssh";
    show-icons: true;
    display-drun: " ";
    display-run: " ";
	display-ssh: "";
    display-filebrowser: "";
    display-window: "";
    drun-display-format: "{name}";
    window-format: "{w}{t}";
    font: "JetBrainsMono 15";
    icon-theme: "Colloid";

    filebrowser {
        directory: "~/";

        directories-first: true;
        show-hidden: false;
    }
}

@theme "~/.config/rofi/themes/breeze-dracula.rasi"